@import"variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}
// inicio mixin
@mixin bg ($wth , $hht , $bgp , $bgs , $dis , $align , $just)
{
    width: $wth;
    height: $hht;
    background-position: $bgp;
    background-size: $bgs;
    display: $dis;
    align-items: $align;
    justify-content: $just;
}

@mixin grid( $columnas, $ps , $espacio , $mgtp , $mgbt)
{
    position: $ps;
    display: grid;
    grid-template-columns: ($columnas, auto);
    grid-template-rows: ($columnas, auto);
    gap: $espacio;
    margin-top: $mgtp;
    margin-bottom: $mgbt;
}

@mixin flexbox-column-display(
    $flex-direction: column,
    $justify-content: center,
    $align-items: stretch
) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
// fin mixin

body{
    text-align: center;
}

.navBar {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
  }
.LOGO{ display: flex;
    justify-content: center;
}


h1{
    
    display: inline-block;
    position: relative;
}
h1::after,h1::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: black;
    top: 0.6em;
}

h1::before{
    left: -140px;
}

h1::after{
    right: -140px;
}
h4{
    color: black;
    background-color: yellow;
    text-align: center;
    padding: 20px;
    margin: 50px;
    letter-spacing: 5px;
    
  }
footer{
display: flex;
justify-content: center;}